#about {
    margin-top: calc(-0.45*var(--avatar-size));
    ;
    padding-bottom: 1rem;
}

.name-container {
    display: inline-block;
    padding-left: 1.5rem;
    position: relative;

    /* salvaguarda para navegadores que no reconocen calc() */
    left: 14.8rem;

    left: calc(1.75*var(--avatar-size) + var(--avatar-size)/10);


}

.fullname {
    font-size: 1.5rem;
    margin: 0;
}

.title {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    margin-top: 0.3rem;
}


@media (max-width: 768px) {

    //
    
}

@media (max-width: 640px) {

    #about {
        margin-top: 1rem;
        text-align: center;
    }

    .name-container {
        display: inline-block;
        padding-left: 0;
        position: unset;
        text-align: center;
    }
}
